#swirl {
    block-size: 4in;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

<<<<<<< HEAD
#how-to-play{
    width: 60%;
}
=======
#future.hidden {
    display: none;
}
>>>>>>> 47263416f3b8648a4c1b19393fa9d8709c2d97af
