/* * {
    border: 1px solid black;
} */

body {
    background-image: url(..//img/background.png);
}

header {
    height: fit-content;
    text-align: center;
    margin: 20px 50px 20px 50px;
}

header img {
    width: 80%;
}

main {
    height: fit-content;
    text-align: center;
    margin: 20px 50px 20px 50px;
    background-color: white;
}


#swirl {
    block-size: 4in;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

#how-to-play{
    width: fit-content;
}

.hidden {
    display: none;
}

button, a {
    margin: 15px auto;
    display: contents;
    text-decoration: none;
    background-color: rgb(233, 105, 0);
    padding: 7px 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

